
.main {
    color: blue;
    text-decoration: underline;
}

.container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 80%;
    min-height:25vmin;
    border: solid 1vmax black;
    margin: 5vmin;
    gap:3vmin;
}

.card {
    
    height: 100px;
    width: 100px;
    border: solid black 3px;
    border-radius: 3px;
}